<div class="content profile" ng-init="init()" ng-class="{ open: isOpen }">
  <div class="profile-shell">
    <div class="profile-info">
      <div class="user-photo">
        <div class="photo-shell">
          <img src="images/photo2.jpg" alt: "" width="120" height="120" />
        </div>
        <div class="relationship-title sans-serif">Relationship status</div>
        <div class="relationship-status sans-serif">Single</div>
      </div>
      <div class="profile-description-wrapper">
        <div class="profile-description">
          <div class="name-wrapper">
            <div class="name">
              Tatiana Karanova
              <div class="v">
                <ins></ins>
                Verified account
              </div>
            </div>
          </div>
          <div class="info">Age 29 / Photograph</div>
          <div class="from">Moscow, Russia</div>
        </div>
        <div class="about">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam, corporis, esse, accusamus voluptatem maxime.</div>
      </div>
    </div>
    <ul class="confirm list-unstyled">
      <li class="conf-mail confirmed">
        <ins>
          <span></span>
        </ins>
      </li>
      <li class="conf-fb confirmed">
        <ins>
          <span></span>
        </ins>
      </li>
      <li class="conf-phone confirmed">
        <ins>
          <span></span>
        </ins>
      </li>
      <li class="conf-info">
        <div class="demo sans-serif">
          <small>DEMO reaction</small>
          Expand recomendations
        </div>
        <ins>
          <span></span>
        </ins>
      </li>
    </ul>
    <tabset tabs='tabs'>
      <tab class="photos-content">
        <div class="profile-image">
          <img src="images/album-photo1.jpg" alt: "" height="183" width="273") />
        </div>
        <div class="profile-image">
          <img src="images/album-photo2.jpg" alt: "" height="183" width="273") />
        </div>
        <div class="profile-image">
          <img src="images/album-photo3.jpg" alt: "" height="183" width="123") />
        </div>
        <div class="profile-image">
          <img src="images/album-photo4.jpg" alt: "" height="183" width="205") />
        </div>
        <div class="profile-image">
          <img src="images/album-photo5.jpg" alt: "" height="183" width="273") />
        </div>
        <div class="profile-image">
          <img src="images/album-photo6.jpg" alt: "" height="183" width="192") />
        </div>
        <div class="clear"></div>
      </tab>
      <tab class="details-content text">
        <h1>Details</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium, delectus, quisquam culpa doloremque corporis aliquid odio cumque minima possimus sit nam iste dolorum at quaerat autem provident mollitia id praesentium.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium, delectus, quisquam culpa doloremque corporis aliquid odio cumque minima possimus sit nam iste dolorum at quaerat autem provident mollitia id praesentium.</p>
        <div class="clear"></div>
      </tab>
      <tab class="interests-content text">
        <h1>Interests</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium, delectus, quisquam culpa doloremque corporis aliquid odio cumque minima possimus sit nam iste dolorum at quaerat autem provident mollitia id praesentium.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium, delectus, quisquam culpa doloremque corporis aliquid odio cumque minima possimus sit nam iste dolorum at quaerat autem provident mollitia id praesentium.</p>
        <div class="clear"></div>
      </tab>
      <tab class="history-content text">
        <h1>History</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium, delectus, quisquam culpa doloremque corporis aliquid odio cumque minima possimus sit nam iste dolorum at quaerat autem provident mollitia id praesentium.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium, delectus, quisquam culpa doloremque corporis aliquid odio cumque minima possimus sit nam iste dolorum at quaerat autem provident mollitia id praesentium.</p>
        <div class="clear"></div>
      </tab>
      <tab class="looking-for-content text">
        <h1>Looking for</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium, delectus, quisquam culpa doloremque corporis aliquid odio cumque minima possimus sit nam iste dolorum at quaerat autem provident mollitia id praesentium.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium, delectus, quisquam culpa doloremque corporis aliquid odio cumque minima possimus sit nam iste dolorum at quaerat autem provident mollitia id praesentium.</p>
        <div class="clear"></div>
      </tab>
    </tabset>
  </div>
</div>
